
.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: anim 1.05s ease-out infinite;
}
@keyframes anim {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(12);
        opacity: 0;
    }
}
